@media only screen and (min-width: 1024px) {
    /* NAVBAR*/
    .nav-toggle {
      display: none;
    }
    
    /*FORM*/
    .input-box{
      display: flex;
      justify-content: space-between;
    }
    .input-box .nombre-ap {
      width: 100%;
      margin: 0 5%;
    }
    .input-box .mail-edad {
      width: 100%;
      margin: 0 5%;
    }

    .user-details .multiple-choice {
      display:flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
}



